/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

